@import "../_reset.scss";
@import "../_variables";

.img-content-m {
    position: relative;
    max-width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.15);
}

.magnifier {
    transition: transform 100ms ease-out;
}

.img-content {
    height: 200px;
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: grab;
    position: relative;
    img {
        position: relative;
    }
}

.tabs {
    .btn-tabs {
        display: none;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 100%;
        backface-visibility: hidden;
        background-color: #405cf5;
        color: #fff;
        border-radius: 6px;
        border-width: 0;
        @media (max-width: $mobile-max) {
            display: block;
        }
    }

    .tab-header-wrap {
        display: flex;
        padding: 0 1px;
        @media (max-width: $mobile-max) {
            display: none;
        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color 0.2s linear;

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
            @media (max-width: $mobile-max) {
                background-color: beige;
            }
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;
    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }
    }
}
